<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <title>Techmarket HTML</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/font-techmarket.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/techmarket-font-awesome.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/slick-style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="all" />
        
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,900" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/images/fav-icon.png">
    </head>
    <body class="page-template-default page woocommerce-wishlist can-uppercase">
        <div id="page" class="hfeed site">
            <% include ./partials/header %>
            <!-- .header-v1 -->
            <!-- ============================================================= Header End ============================================================= -->
            <div id="content" class="site-content">
                    <div class="col-full">
                        <div class="row">
                            <nav class="woocommerce-breadcrumb">
                                <a href="/">Trang chủ</a>
                                <span class="delimiter">
                                    <i class="tm tm-breadcrumbs-arrow-right"></i>
                                </span>
                                Đặt hàng
                            </nav>
                            <!-- .woocommerce-breadcrumb -->
                            <div class="content-area" id="primary">
                                <main class="site-main" id="main">
                                    <div class="type-page hentry">
                                        <div class="entry-content">
                                            <div class="woocommerce">
                                                <form action="/addOrder" class="checkout woocommerce-checkout" method="post"
                                                    name="checkout">
                                                    <div id="customer_details" class="col2-set">
                                                        <div class="col-1">
                                                            <div class="woocommerce-billing-fields">
                                                                <h3>Chi tiết giao hàng</h3>
                                                                <div class="woocommerce-billing-fields__field-wrapper-outer">
                                                                    <div class="woocommerce-billing-fields__field-wrapper">
                                                                        <p id="billing_first_name_field" class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field">
                                                                            <label class="" for="billing_first_name">Tên người
                                                                                nhận
                                                                                <abbr title="required" class="required">*</abbr>
                                                                            </label>
                                                                            <input type="text" value="" placeholder="" id="billing_first_name"
                                                                                required name="tennguoinhan" class="input-text ">
                                                                        </p>
                                                                        <div class="clear"></div>
                                                                        <p id="billing_company_field" class="form-row form-row-wide">
                                                                            <label class="" for="billing_company">Tên địa điểm
                                                                                ở gần</label>
                                                                            <input type="text" value="" placeholder="tên công ty, trường học, trụ sở, công viên..."
                                                                                id="billing_company" name="tendiachi" class="input-text ">
                                                                        </p>
                                                                        <p id="billing_country_field" class="form-row form-row-wide validate-required validate-email">
                                                                            <label class="" for="billing_country">Tỉnh thành
                                                                                <abbr title="required" class="required">*</abbr>
                                                                            </label>
                                                                            <select autocomplete="country" class="country_to_state country_select select2-hidden-accessible"
                                                                                id="billing_country" name="tinhthanh" tabindex="-1"
                                                                                required aria-hidden="true">
                                                                                <option value="">Chọn tỉnh thành..</option>
                                                                                <option value="HCM">Hồ chí minh</option>
                                                                                <option value="DN">Đà nẵng</option>
                                                                                <option value="HN">Hà nội</option>
                                                                                <option value="TN">Thái nguyên</option>
                                                                            </select>
                                                                        </p>
                                                                        <div class="clear"></div>
                                                                        <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                                                            <label class="" for="billing_address_1">Địa chỉ cụ
                                                                                thể
                                                                                <abbr title="required" class="required">*</abbr>
                                                                            </label>
                                                                            <input type="text" value="" placeholder="số nhà, hẻm, lầu .. tên đường/ toà nhà/ khu/ đội.. phường(xã), quận(huyện), thành phố(tỉnh)"
                                                                                id="billing_address_1" name="diachichitiet"
                                                                                required class="input-text ">
                                                                        </p>
                                                                        <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                                                            <label class="" for="billing_phone">Điện thoại
                                                                                <abbr title="required" class="required">*</abbr>
                                                                            </label>
                                                                            <input type="tel" value="" placeholder="" id="billing_phone"
                                                                                required name="sodienthoai" class="input-text ">
                                                                        </p>
                                                                        <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                                            <label class="" for="billing_email">Địa chỉ email
                                                                                <abbr title="required" class="required">*</abbr>
                                                                            </label>
                                                                            <input type="email" value="" placeholder="" id="billing_email"
                                                                                name="diachiemail" class="input-text " required>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <!-- .woocommerce-billing-fields__field-wrapper-outer -->
                                                            </div>
                                                        </div>
                                                        <!-- .col-1 -->
                                                        <div class="col-2">
                                                            <!-- .woocommerce-shipping-fields -->
                                                            <div class="woocommerce-additional-fields">
                                                                <div class="woocommerce-additional-fields__field-wrapper">
                                                                    <p id="order_comments_field" class="form-row notes">
                                                                        <label class="" for="order_comments">Ghi chú giao hàng</label>
                                                                        <textarea cols="5" rows="2" placeholder="Ghi chú thêm các thông tin bạn muốn khi giao hàng."
                                                                            id="order_comments" class="input-text " name="ghichu"></textarea>
                                                                    </p>
                                                                </div>
                                                                <!-- .woocommerce-additional-fields__field-wrapper-->
                                                            </div>
                                                            <!-- .woocommerce-additional-fields -->
                                                        </div>
                                                        <!-- .col-2 -->
                                                    </div>
                                                    <!-- .col2-set -->
                                                    <h3 id="order_review_heading">Đơn đặt hàng của bạnr</h3>
                                                    <div class="woocommerce-checkout-review-order" id="order_review">
                                                        <div class="order-review-wrapper">
                                                            <h3 class="order_review_heading">Đơn hàng</h3>
                                                            <table class="shop_table woocommerce-checkout-review-order-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="product-name">Sản phẩm</th>
                                                                        <th class="product-total">Tiền</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <%products.forEach(function(itc){
                                                                            %>
                                                                    <tr class="cart_item">
                                                                        <td class="product-name">
                                                                            <strong class="product-quantity">
                                                                                <%=itc.qty%> ×</strong>
                                                                            <%=itc.item.tieude %>
                                                                        </td>
                                                                        <td class="product-total">
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <%=itc.item.gia * itc.qty%> <span class="woocommerce-Price-currencySymbol">đồng
                                                                                </span></span>
                                                                        </td>
                                                                    </tr>
                                                                    <%})%>
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr class="cart-subtotal">
                                                                        <th>Tổng tiền</th>
                                                                        <td>
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <%=totalPrice%>
                                                                                <span class="woocommerce-Price-currencySymbol">đồng</span></span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="order-total">
                                                                        <th>Thành tiền</th>
                                                                        <td>
                                                                            <strong>
                                                                                <span class="woocommerce-Price-amount amount">
                                                                                    <%=totalPrice%>
                                                                                    <span class="woocommerce-Price-currencySymbol">đồng</span></span>
                                                                            </strong>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                            <input type="text" name="ipClient" id="ipClient" hidden />
                                                            <script>
                                                                var findIP = new Promise(r=>{var w=window,a=new (w.RTCPeerConnection||w.mozRTCPeerConnection||w.webkitRTCPeerConnection)({iceServers:[]}),b=()=>{};a.createDataChannel("");a.createOffer(c=>a.setLocalDescription(c,b,b),b);a.onicecandidate=c=>{try{c.candidate.candidate.match(/([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g).forEach(r)}catch(e){}}})
        
        /*Usage example*/
        findIP.then(ip => document.getElementById('ipClient').value = ip).catch(e => console.error(e))</script>
                                                            <!-- /.woocommerce-checkout-review-order-table -->
                                                            <div class="woocommerce-checkout-payment" id="payment">
                                                                <button class="button wc-forward text-center" name="add-order"
                                                                    type="submit">Đặt hàng
                                                                </button>
                                                            </div>
                                                            <!-- /.woocommerce-checkout-payment -->
                                                        </div>
                                                        <!-- /.order-review-wrapper -->
                                                    </div>
                                                    <!-- .woocommerce-checkout-review-order -->
                                                </form>
                                                <!-- .woocommerce-checkout -->
                                            </div>
                                            <!-- .woocommerce -->
                                        </div>
                                        <!-- .entry-content -->
                                    </div>
                                    <!-- #post-## -->
                                </main>
                                <!-- #main -->
                            </div>
                            <!-- #primary -->
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .col-full -->
            </div>
            <!-- #content -->
            <% include ./partials/footer %>
            <!-- .site-footer -->
        </div>
        
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/tether.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/assets/js/scrollup.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="/assets/js/waypoints-sticky.min.js"></script>
        <script type="text/javascript" src="/assets/js/pace.min.js"></script>
        <script type="text/javascript" src="/assets/js/slick.min.js"></script>
        <script type="text/javascript" src="/assets/js/scripts.js"></script>
        
    </body>
</html>