<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <title>Trang chủ</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/font-techmarket.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/techmarket-font-awesome.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/slick-style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="all" />
       
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,900" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/images/fav-icon.png">
    </head>
    <body class="woocommerce-active page-template-template-homepage-v12 can-uppercase">
        <div id="page" class="hfeed site">
            <div id="loadCart">
                <% include ./partials/header %>
            </div>
            <!-- .header-v1 -->
            <!-- ============================================================= Header End ============================================================= -->
            <%
                function formatNumber(nStr, decSeperate, groupSeperate) {
                    nStr += '';
                    x = nStr.split(decSeperate);
                    x1 = x[0];
                    x2 = x.length > 1 ? '.' + x[1] : '';
                    var rgx = /(\d+)(\d{3})/;
                    while (rgx.test(x1)) {
                        x1 = x1.replace(rgx, '$1' + groupSeperate + '$2');
                    }
                    return x1 + x2;
                }
            %>
            <div id="content" class="site-content">
                <div class="col-full">
                    <div class="row">
                        <div id="primary" class="content-area">
                            <main id="main" class="site-main">
                                <div class="home-v3-slider home-slider">
                                    <div class="slider-1" style="background-image: url(/assets/images/slider/home-v9-background.jpg);">
                                        <div class="caption">
                                            <div class="title">Đại lễ sách
                                                <br> mừng ngày nhà giáo
                                                <br> Việt Nam</div>
                                            <div class="sub-title">Sách hay mới cập nhật
                                                <br> nhiều chủ đề.</div>
                                            <div class="button">Xem ngay
                                                <i class="tm tm-long-arrow-right"></i>
                                            </div>
                                            <div class="bottom-caption">Tặng kèm bộ ghép hình cho bé khi tổng tiền thanh
                                                toán trên 99k</div>
                                        </div>
                                    </div>
                                    <!-- .slider-1 -->
                                    <div class="slider-1 slider-2" style="background-image: url(/assets/images/slider/home-v9-background.jpg);">
                                        <div class="caption">
                                            <div class="title">Khuyến mãi sách hay giá 99k</div>
                                            <div class="sub-title">Sách hay, mẹ đọc, bé yêu sách.</div>
                                            <div class="button">Xem ngay
                                                <i class="tm tm-long-arrow-right"></i>
                                            </div>
                                            <div class="bottom-caption">Tặng kèm bộ ghép hình cho bé khi tổng tiền thanh
                                                toán trên 99k</div>
                                        </div>
                                    </div>
                                    <!-- .slider-2 -->
                                </div>
                                <!-- .home-v1-slider -->
                                <div class="features-list">
                                    <div class="features">
                                        <div class="feature">
                                            <div class="media">
                                                <i class="feature-icon d-flex mr-3 tm tm-free-delivery"></i>
                                                <div class="media-body feature-text">
                                                    <h5 class="mt-0">Miễn phí giao hàng</h5>
                                                    <span>hoá đơn trên 200k</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .feature -->
                                        <div class="feature">
                                            <div class="media">
                                                <i class="feature-icon d-flex mr-3 tm tm-feedback"></i>
                                                <div class="media-body feature-text">
                                                    <h5 class="mt-0">99% sách mới nhất</h5>
                                                    <span>Hiện nay</span>
                                                </div>
                                            </div>
                                            <!-- .media -->
                                        </div>
                                        <!-- .feature -->
                                        <div class="feature">
                                            <div class="media">
                                                <i class="feature-icon d-flex mr-3 tm tm-free-return"></i>
                                                <div class="media-body feature-text">
                                                    <h5 class="mt-0">7 ngày</h5>
                                                    <span>đổi trả</span>
                                                </div>
                                            </div>
                                            <!-- .media -->
                                        </div>
                                        <!-- .feature -->
                                        <div class="feature">
                                            <div class="media">
                                                <i class="feature-icon d-flex mr-3 tm tm-safe-payments"></i>
                                                <div class="media-body feature-text">
                                                    <h5 class="mt-0">Thanh toán</h5>
                                                    <span>tin cậy</span>
                                                </div>
                                            </div>
                                            <!-- .media -->
                                        </div>
                                        <!-- .feature -->
                                        <div class="feature">
                                            <div class="media">
                                                <i class="feature-icon d-flex mr-3 tm tm-best-brands"></i>
                                                <div class="media-body feature-text">
                                                    <h5 class="mt-0">Lựa chọn</h5>
                                                    <span>tốt nhất</span>
                                                </div>
                                            </div>
                                            <!-- .media -->
                                        </div>
                                        <!-- .feature -->
                                    </div>
                                    <!-- .features -->
                                </div>
                                <!-- /.features list -->
                                <div class="section-deals-carousel-and-products-carousel-tabs row">
                                    <section class="column-1 deals-carousel" id="sale-with-timer-carousel">
                                        <div class="deals-carousel-inner-block">
                                            <header class="section-header">
                                                <h2 class="section-title">
                                                    <strong>Khuyến mãi</strong> trong tuần</h2>
                                                <nav class="custom-slick-nav"></nav>
                                            </header>
                                            <!-- /.section-header -->
                                            <div class="sale-products-with-timer-carousel deals-carousel-v1">
                                                <div class="products-carousel">
                                                    <div class="container-fluid">
                                                        <div class="woocommerce columns-1">
                                                            <div class="products" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;appendArrows&quot;:&quot;#sale-with-timer-carousel .custom-slick-nav&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:767,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1}},{&quot;breakpoint&quot;:1023,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}}]}">
                                                                <% allBooks.forEach(function(book){
                                                                    book.danhdau.forEach(function(dd){
                                                                        if(dd=='weekdeal'){
                                                                            %>
                                                                <div class="sale-product-with-timer product">
                                                                    <!-- href="/chitiet/<%=book.linkseo%>-<%=book._bookID%> -->
                                                                    <a class="woocommerce-LoopProduct-link">
                                                                        <div class="
                                                                        sale-product-with-timer-header">
                                                                            <div class="price-and-title">
                                                                                <span class="price">
                                                                                    <ins>
                                                                                        <span class="woocommerce-Price-amount amount">
                                                                                            <%=formatNumber(book.gia,'.',',')%><span
                                                                                                class="woocommerce-Price-currencySymbol">₫</span>
                                                                                        </span>
                                                                                    </ins>
                                                                                    <del>
                                                                                        <span class="woocommerce-Price-amount amount">
                                                                                            <%=formatNumber(book.gia*1.2,'.',',')%>
                                                                                            <span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                                    </del>
                                                                                </span>
                                                                                <!-- /.price -->
                                                                                <h2 class="woocommerce-loop-product__title">
                                                                                    <%=book.tieude %>
                                                                                </h2>
                                                                            </div>
                                                                            <!-- /.price-and-title -->
                                                                            <div class="sale-label-outer">
                                                                                <div class="sale-saved-label">
                                                                                    <span class="saved-label-text">Tiết
                                                                                        kiệm</span>
                                                                                    <span class="saved-label-amount">
                                                                                        <span class="woocommerce-Price-amount amount">
                                                                                            <%=formatNumber((book.gia*1.2) - book.gia,'.',',')%><span
                                                                                                class="woocommerce-Price-currencySymbol">₫</span>
                                                                                        </span>
                                                                                    </span>
                                                                                </div>
                                                                                <!-- /.sale-saved-label -->
                                                                            </div>
                                                                            <!-- /.sale-label-outer -->
                                                                        </div>
                                                                        <!-- /.sale-product-with-timer-header -->
                                                                        <img width="224" height="197" alt="" class="wp-post-image"
                                                                            src="<%=book.hinhanh[0]%>">
                                                                        <div class="deal-progress">
                                                                            <div class="deal-stock">
                                                                                <div class="stock-available">Hàng sẵn có:
                                                                                    <strong>1000</strong>
                                                                                </div>
                                                                            </div>
                                                                            <!-- /.deal-stock -->
                                                                            <div class="progress">
                                                                                <span style="width:0%" class="progress-bar">0</span>
                                                                            </div>
                                                                            <!-- /.progress -->
                                                                        </div>
                                                                        <!-- /.deal-progress -->
                                                                        <div class="deal-countdown-timer">
                                                                            <div class="marketing-text">
                                                                                <span class="line-1">Nhanh tay!</span>
                                                                            </div>
                                                                            <!-- /.marketing-text
                                                                            <span class="deal-time-diff" style="display:none;">28800</span> -->
                                                                            <!-- <div class="deal-countdown countdown"></div> -->
                                                                        </div>
                                                                        <div class="hover-area" style="position: relative; padding-top: 20px;">
                                                                            <button class="button add_to_cart_button my-cart-btn" style="margin: auto; width: 100%" onclick="addToCart('<%= book._bookID %>')"> Add
                                                                                to Cart</button>
                                                                        </div>
                                                                        <!-- /.deal-countdown-timer -->
                                                                    </a>
                                                                    <!-- /.woocommerce-LoopProduct-link -->
                                                                </div>
                                                                <!-- /.sale-product-with-timer -->
                                                                <% } })
                                                                            }) %>
                                                                <!-- /.sale-product-with-timer -->
                                                            </div>
                                                            <!-- /.products -->
                                                        </div>
                                                        <!-- /.woocommerce -->
                                                    </div>
                                                    <!-- /.container-fluid -->
                                                </div>
                                                <!-- /.slick-list -->
                                            </div>
                                            <!-- /.sale-products-with-timer-carousel -->
                                            <footer class="section-footer">
                                                <nav class="custom-slick-pagination">
                                                    <a class="slider-prev left" href="#" data-target="#sale-with-timer-carousel .products">
                                                        <i class="tm tm-arrow-left"></i>Trước</a>
                                                    <a class="slider-next right" href="#" data-target="#sale-with-timer-carousel .products">Sau<i class="tm tm-arrow-right"></i></a>
                                                </nav>
                                            </footer>
                                            <!-- /.section-footer -->
                                        </div>
                                        <!-- /.deals-carousel-inner-block -->
                                    </section>
                                    <!-- /.deals-carousel -->
                                    <section class="column-2 section-products-carousel-tabs tab-carousel-1">
                                        <div class="section-products-carousel-tabs-wrap">
                                            <header class="section-header">
                                                <ul role="tablist" class="nav justify-content-end">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" href="#tab-59f89f0881f930" data-toggle="tab">Mới nhất</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link " href="#tab-59f89f0881f931" data-toggle="tab">Khuyến mãi</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link " href="#tab-59f89f0881f932" data-toggle="tab">Hot</a>
                                                    </li>
                                                </ul>
                                            </header>
                                            <!-- .section-header -->
                                            <div class="tab-content">
                                                <div id="tab-59f89f0881f930" class="tab-pane active" role="tabpanel">
                                                    <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;rows&quot;:2,&quot;slidesPerRow&quot;:5,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:1023,&quot;settings&quot;:{&quot;slidesPerRow&quot;:2}},{&quot;breakpoint&quot;:1169,&quot;settings&quot;:{&quot;slidesPerRow&quot;:4}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesPerRow&quot;:3}}]}">
                                                        <div class="container-fluid">
                                                            <div class="woocommerce">
                                                                <div class="products">
                                                                    <% allBooks.forEach( (book) => {
                                                                        book.danhdau.forEach( (dd) => {
                                                                            if (dd === 'new') {
                                                                                %>
                                                                                <div class="product">
                                                                                    <div class="yith-wcwl-add-to-wishlist">
                                                                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist"> Add to Wishlist</a>
                                                                                    </div>
                                                                                    <a href="/chitiet/<%=book.linkseo%>-<%=book._bookID%>" class="woocommerce-LoopProduct-link">
                                                                                        <img src="<%=book.hinhanh[0]%>" width="224" height="197" class="wp-post-image" alt="">
                                                                                        <span class="price">
                                                                                            <ins>
                                                                                                <span class="amount"> </span>
                                                                                            </ins>
                                                                                            <span class="amount">
                                                                                                <%=formatNumber(book.gia,'.',',')%><span
                                                                                                    class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                                        </span>
                                                                                        <!-- /.price -->
                                                                                        <h2 class="woocommerce-loop-product__title"><%=book.tieude %></h2>
                                                                                    </a>
                                                                                    <div class="hover-area">
                                                                                        <a class="button add_to_cart_button" onclick="addToCart('<%= book._bookID %>')" rel="nofollow">Add to cart</a>
                                                                                    </div>
                                                                                </div>
                                                                                <%
                                                                            }
                                                                        }) 
                                                                    }); %>
                                                                    <!-- /.product-outer -->
                                                                </div>
                                                            </div>
                                                            <!-- .woocommerce -->
                                                        </div>
                                                        <!-- .container-fluid -->
                                                    </div>
                                                    <!-- .products-carousel -->
                                                </div>
                                                <!-- .tab-pane -->
                                                <div id="tab-59f89f0881f931" class="tab-pane " role="tabpanel">
                                                    <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;rows&quot;:2,&quot;slidesPerRow&quot;:5,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:1023,&quot;settings&quot;:{&quot;slidesPerRow&quot;:2}},{&quot;breakpoint&quot;:1169,&quot;settings&quot;:{&quot;slidesPerRow&quot;:4}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesPerRow&quot;:3}}]}">
                                                        <div class="container-fluid">
                                                            <div class="woocommerce">
                                                                <div class="products">
                                                                    <% allBooks.forEach( (book) => {
                                                                        book.danhdau.forEach( (dd) => {
                                                                            if (dd === 'sale') {
                                                                                %>
                                                                                <div class="product">
                                                                                    <div class="yith-wcwl-add-to-wishlist">
                                                                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist"> Add to Wishlist</a>
                                                                                    </div>
                                                                                    <a href="/chitiet/<%=book.linkseo%>-<%=book._bookID%>" class="woocommerce-LoopProduct-link">
                                                                                        <img src="<%=book.hinhanh[0]%>" width="224" height="197" class="wp-post-image" alt="">
                                                                                        <span class="price">
                                                                                            <ins>
                                                                                                <span class="amount"> </span>
                                                                                            </ins>
                                                                                            <span class="amount">
                                                                                                <%=formatNumber(book.gia,'.',',')%><span
                                                                                                    class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                                        </span>
                                                                                        <!-- /.price -->
                                                                                        <h2 class="woocommerce-loop-product__title"><%=book.tieude %></h2>
                                                                                    </a>
                                                                                    <div class="hover-area">
                                                                                        <a class="button add_to_cart_button" onclick="addToCart('<%= book._bookID %>')" rel="nofollow">Add to cart</a>
                                                                                    </div>
                                                                                </div>
                                                                                <%
                                                                            }
                                                                        }) 
                                                                    }); %>
                                                                    <!-- /.product-outer -->
                                                                </div>
                                                            </div>
                                                            <!-- .woocommerce -->
                                                        </div>
                                                        <!-- .container-fluid -->
                                                    </div>
                                                    <!-- .products-carousel -->
                                                </div>
                                                <!-- .tab-pane -->
                                                <div id="tab-59f89f0881f932" class="tab-pane " role="tabpanel">
                                                    <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;rows&quot;:2,&quot;slidesPerRow&quot;:5,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:1023,&quot;settings&quot;:{&quot;slidesPerRow&quot;:2}},{&quot;breakpoint&quot;:1169,&quot;settings&quot;:{&quot;slidesPerRow&quot;:4}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesPerRow&quot;:3}}]}">
                                                        <div class="container-fluid">
                                                            <div class="woocommerce">
                                                                <div class="products">
                                                                    <% allBooks.forEach( (book) => {
                                                                        book.danhdau.forEach( (dd) => {
                                                                            if (dd === 'hot') {
                                                                                %>
                                                                                <div class="product">
                                                                                    <div class="yith-wcwl-add-to-wishlist">
                                                                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist"> Add to Wishlist</a>
                                                                                    </div>
                                                                                    <a href="/chitiet/<%=book.linkseo%>-<%=book._bookID%>" class="woocommerce-LoopProduct-link">
                                                                                        <img src="<%=book.hinhanh[0]%>" width="224" height="197" class="wp-post-image" alt="">
                                                                                        <span class="price">
                                                                                            <ins>
                                                                                                <span class="amount"> </span>
                                                                                            </ins>
                                                                                            <span class="amount">
                                                                                                <%=formatNumber(book.gia,'.',',')%><span
                                                                                                    class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                                        </span>
                                                                                        <!-- /.price -->
                                                                                        <h2 class="woocommerce-loop-product__title"><%=book.tieude %></h2>
                                                                                    </a>
                                                                                    <div class="hover-area">
                                                                                        <a class="button add_to_cart_button" onclick="addToCart('<%= book._bookID %>')" rel="nofollow">Add to cart</a>
                                                                                    </div>
                                                                                </div>
                                                                                <%
                                                                            }
                                                                        }) 
                                                                    }); %>
                                                                    <!-- /.product-outer -->
                                                                </div>
                                                            </div>
                                                            <!-- .woocommerce -->
                                                        </div>
                                                        <!-- .container-fluid -->
                                                    </div>
                                                    <!-- .products-carousel -->
                                                </div>
                                                <!-- .tab-pane -->
                                            </div>
                                            <!-- .tab-content -->
                                        </div>
                                        <!-- .section-products-carousel-tabs-wrap -->
                                    </section>
                                    <!-- .section-products-carousel-tabs -->
                                </div>
                                <div class="fullwidth-notice stretch-full-width">
                                    <div class="col-full">
                                        <p class="message">Mua sắm ngay ! Rinh quà liền tay</p>
                                    </div>
                                    <!-- .col-full -->
                                </div>
                                <!-- .slick-dots -->
                                <section class="section-hot-new-arrivals section-products-carousel-tabs techmarket-tabs">
                                    <div class="section-products-carousel-tabs-wrap">
                                        <header class="section-header">
                                            <h2 class="section-title" style="padding-bottom: 10px;">Sách phổ biến</h2>
                                            <nav class="custom-slick-nav"></nav>
                                        </header>
                                        <!-- .section-header -->
                                        <div class="tab-content">
                                            <div id="tab-59f89f08825d50" class="tab-pane active" role="tabpanel">
                                                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:7,&quot;slidesToScroll&quot;:7,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:700,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:780,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:4}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:5}}]}">
                                                    <div class="container-fluid">
                                                        <div class="woocommerce">
                                                            <div class="products">
                                                                <% allBooks.forEach( (book) => {
                                                                    book.danhdau.forEach( (dd) => {
                                                                        if (dd === 'popular') {
                                                                            %>
                                                                            <div class="product">
                                                                                <div class="yith-wcwl-add-to-wishlist">
                                                                                    <a href="wishlist.html" rel="nofollow" class="add_to_wishlist"> Add to Wishlist</a>
                                                                                </div>
                                                                                <a href="/chitiet/<%=book.linkseo%>-<%=book._bookID%>" class="woocommerce-LoopProduct-link">
                                                                                    <img src="<%=book.hinhanh[0]%>" width="224" height="197" class="wp-post-image" alt="">
                                                                                    <span class="price">
                                                                                        <ins>
                                                                                            <span class="amount"> </span>
                                                                                        </ins>
                                                                                        <span class="amount">
                                                                                            <%=formatNumber(book.gia,'.',',')%><span
                                                                                                class="woocommerce-Price-currencySymbol">₫</span></span>
                                                                                    </span>
                                                                                    <!-- /.price -->
                                                                                    <h2 class="woocommerce-loop-product__title"><%=book.tieude %></h2>
                                                                                </a>
                                                                                <div class="hover-area">
                                                                                    <a class="button add_to_cart_button" onclick="addToCart('<%= book._bookID %>')"  rel="nofollow">Add to cart</a>
                                                                                </div>
                                                                            </div>
                                                                            <%
                                                                        }
                                                                    }) 
                                                                }); %>
                                                                <!-- /.product-outer -->
                                                            </div>
                                                        </div>
                                                        <!-- .woocommerce -->
                                                    </div>
                                                    <!-- .container-fluid -->
                                                </div>
                                                <!-- .products-carousel -->
                                            </div>
                                            <!-- .tab-pane -->
                                        </div>
                                        <!-- .tab-content -->
                                    </div>
                                    <!-- .section-products-carousel-tabs-wrap -->
                                </section>
                                <!-- /.product-carousel-with-banners -->
                                <section class="section-landscape-products-carousel recently-viewed" id="recently-viewed">
                                    <header class="section-header">
                                        <h2 class="section-title">Gần đây</h2>
                                        <nav class="custom-slick-nav"></nav>
                                    </header>
                                    <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:2,&quot;dots&quot;:true,&quot;arrows&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;appendArrows&quot;:&quot;#recently-viewed .custom-slick-nav&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:4}}]}">
                                        <div class="container-fluid">
                                            <div class="woocommerce columns-5">
                                                <div class="products">
                                                    <!--
                                                    <div class="landscape-product product">
                                                        <a class="woocommerce-LoopProduct-link" href="single-product-fullwidth.html">
                                                            <div class="media">
                                                                <img class="wp-post-image" src="/assets/images/products/card-3.jpg" alt="">
                                                                <div class="media-body">
                                                                    <span class="price">
                                                                        <ins>
                                                                            <span class="amount"> $3,788.00</span>
                                                                        </ins>
                                                                        <del>
                                                                            <span class="amount">$4,780.00</span>
                                                                        </del>
                                                                        <span class="amount"> </span>
                                                                    </span>
                                                                    <!-- .price 
                                                                    <h2 class="woocommerce-loop-product__title">PowerBank 4400</h2>
                                                                    <div class="techmarket-product-rating">
                                                                        <div title="Rated 0 out of 5" class="star-rating">
                                                                            <span style="width:0%">
                                                                                <strong class="rating">0</strong> out of 5</span>
                                                                        </div>
                                                                        <span class="review-count">(0)</span>
                                                                    </div>
                                                                    <!-- .techmarket-product-rating 
                                                                </div>
                                                                <!-- .media-body 
                                                            </div>
                                                            <!-- .media 
                                                        </a>
                                                        <!-- .woocommerce-LoopProduct-link 
                                                    </div>
                                                    <!-- .landscape-product 
                                                    -->
                                                </div>
                                            </div>
                                            <!-- .woocommerce -->
                                        </div>
                                        <!-- .container-fluid -->
                                    </div>
                                    <!-- .products-carousel -->
                                </section>
                                <!-- .section-landscape-products-carousel -->
                            </main>
                            <!-- #main -->
                        </div>
                        <!-- #primary -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .col-full -->
            </div>
            <!-- #content -->
            <% include ./partials/footer %>
            <!-- .site-footer -->
        </div>

        <script>
            function formatNumber(nStr, decSeperate, groupSeperate) {
                    nStr += '';
                    x = nStr.split(decSeperate);
                    x1 = x[0];
                    x2 = x.length > 1 ? '.' + x[1] : '';
                    var rgx = /(\d+)(\d{3})/;
                    while (rgx.test(x1)) {
                        x1 = x1.replace(rgx, '$1' + groupSeperate + '$2');
                    }
                    return x1 + x2;
            }

            function addToCart(id) {
                $.ajax({
                    type: "GET",
                    url: "/add-to-cart/"+id,
                    dataType: "json",
                    success: function(data){
                        //alert('đã thêm vào giỏ hàng' + data.totalPrice);
                        $('.update-totalPrice').html(formatNumber(data.totalPrice,'.',',')+'₫');
                        $('.update-totalQty').html(data.totalQty);
                        
                        var update = '';
                        data.products.forEach(itc => {
                            update += '<li class="woocommerce-mini-cart-item mini_cart_item">';
                            update += '<a onclick="deleteCartItem(\''+ itc.item._bookID +'\')" class="remove" aria-label="Remove this item"';
                            update += 'data-product_id="65" data-product_sku="">×</a>';
                            update += '<a href="/product/'+ itc.item.linkseo +'_'+ itc.item._bookID +'">';
                            update += '<img src="'+ itc.item.hinhanh[0] +'" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">';
                            update += itc.item.tieude +'</a><span class="quantity"> '+ itc.qty +'×';
                            update += '<span class="woocommerce-Price-amount amount">';
                            update += formatNumber(itc.item.gia,'.',',') +'<span class="woocommerce-Price-currencySymbol">₫</span></span>';
                            update += '</span> </li>';
                        });

                        $('.update-products').html(update);

                        // hiệu ứng blinking ở cuối assets style.css
                        var $div2blink = $(".divtoBlink"); // Save reference, only look this item up once, then save
                        var backgroundInterval = setInterval(function(){
                            $div2blink.toggleClass("backgroundRed");
                        },500);

                        setTimeout(function(){
	                        window.clearInterval(backgroundInterval);
                        }, 2200)
                        },
                    error: function(){} 
                });
            }
        </script>     
        
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/tether.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/assets/js/scrollup.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="/assets/js/waypoints-sticky.min.js"></script>
        <script type="text/javascript" src="/assets/js/pace.min.js"></script>
        <script type="text/javascript" src="/assets/js/slick.min.js"></script>
        <script type="text/javascript" src="/assets/js/scripts.js"></script>
        
    </body>
</html>