<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <title>Techmarket HTML</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/font-techmarket.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/techmarket-font-awesome.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/slick-style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="all" />
        
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,900" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/images/fav-icon.png">
    </head>
    <body class="woocommerce-active left-sidebar">
        <div id="page" class="hfeed site">
            <% include ./partials/header %>
            <!-- .header-v1 -->
            <!-- ============================================================= Header End ============================================================= -->
            <%
                function formatNumber(nStr, decSeperate, groupSeperate) {
                    nStr += '';
                    x = nStr.split(decSeperate);
                    x1 = x[0];
                    x2 = x.length > 1 ? '.' + x[1] : '';
                    var rgx = /(\d+)(\d{3})/;
                    while (rgx.test(x1)) {
                        x1 = x1.replace(rgx, '$1' + groupSeperate + '$2');
                    }
                    return x1 + x2;
                }
            %>
            <div id="content" class="site-content" tabindex="-1">
              <div class="col-full">
                  <div class="row">
                      <nav class="woocommerce-breadcrumb">
                          <a href="/">Trang chủ</a>
                          <span class="delimiter">
                              <i class="tm tm-breadcrumbs-arrow-right"></i>
                          </span><%=allBooks[0].theloai%>
                      </nav>
                      <!-- .woocommerce-breadcrumb -->
                      <div id="primary" class="content-area">
                          <main id="main" class="site-main">
                              <div class="shop-archive-header">
                                  <div class="jumbotron">
                                      <div class="jumbotron-img">
                                          <img width="416" height="283" alt="" src="/assets/images/slider/home-v9-background.jpg"
                                              class="jumbo-image alignright">
                                      </div>
                                      <div class="jumbotron-caption">
                                          <h3 class="jumbo-title"></h3>
                                          <p class="jumbo-subtitle">Hello
                                              <br>
                                              <br>Have a good day !
                                              <a href="#">Mua sắm nào! <i class="tm tm-long-arrow-right"></i></a>
                                          </p>
                                      </div>
                                      <!-- .jumbotron-caption -->
                                  </div>
                                  <!-- .jumbotron -->
                              </div>
                              <!-- .shop-control-bar -->
                              <div class="tab-content">
                                  <div id="grid" class="tab-pane active" role="tabpanel">
                                      <div class="woocommerce columns-5">
                                          <div class="products">
                                              <% allBooks.forEach(function(book){ %>
                                              <div class="product">
                                                  <div class="yith-wcwl-add-to-wishlist">
                                                      <a rel="nofollow" class="add_to_wishlist"> Add
                                                          to Wishlist</a>
                                                  </div>
                                                  <!-- .yith-wcwl-add-to-wishlist -->
                                                  <a class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
                                                      href="/chitiet/<%=book.linkseo%>-<%=book._bookID%>">
                                                      <img width="224" height="197" alt="" class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                                          src="<%=book.hinhanh[0]%>">
                                                      <span class="price">
                                                          <%=formatNumber(book.gia,'.',',')%><span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                      </span>
                                                      <h2 class="woocommerce-loop-product__title">
                                                          <%=book.tieude%>
                                                      </h2>
                                                  </a>
                                                  <!-- .woocommerce-LoopProduct-link -->
                                                  <div class="hover-area">
                                                      <a class="button" onclick="addToCart('<%=book._bookID%>')">Add to cart</a>
                                                  </div>
                                                  <!-- .hover-area -->
                                              </div>
                                              <!-- .product -->
                                              <% })%>
                                          </div>
                                          <!-- .products -->
                                      </div>
                                      <!-- .woocommerce -->
                                  </div>
                                  <!-- .tab-pane -->
                              </div>
                              <!-- .tab-content -->
                              <div class="shop-control-bar-bottom">
                                  <nav class="woocommerce-pagination">
                                      <ul class="page-numbers">
                                          <li>
                                              <span class="page-numbers current">1</span>
                                          </li>
                                          <li><a href="#" class="page-numbers">2</a></li>
                                          <li><a href="#" class="page-numbers">3</a></li>
                                          <li><a href="#" class="page-numbers">4</a></li>
                                          <li><a href="#" class="page-numbers">5</a></li>
                                          <li><a href="#" class="next page-numbers">→</a></li>
                                      </ul>
                                      <!-- .page-numbers -->
                                  </nav>
                                  <!-- .woocommerce-pagination -->
                              </div>
                              <!-- .shop-control-bar-bottom -->
                          </main>
                          <!-- #main -->
                      </div>
                      <!-- #primary -->
                      <div id="secondary" class="widget-area shop-sidebar" role="complementary">
                          <div class="widget woocommerce widget_product_categories techmarket_widget_product_categories"
                              id="techmarket_product_categories_widget-2">
                              <ul class="product-categories ">
                                  <li class="product_cat">
                                      <span>Danh mục sách</span>
                                      <ul>
                                          <% cats.forEach(function(cat){ %>
                                            <li class="cat-item">
                                                <a href="/product/<%=cat.tentheloai%>">
                                                    <span class="no-child"></span><%= cat.tentheloai %></a>
                                            </li>
                                          <% }); %>
                                      </ul>
                                  </li>
                              </ul>
                          </div>
                          <!--
                          <div id="techmarket_products_filter-3" class="widget widget_techmarket_products_filter">
                              <span class="gamma widget-title">Filters</span>
                              <div class="widget woocommerce widget_price_filter" id="woocommerce_price_filter-2">
                                  <p>
                                      <span class="gamma widget-title">Filter by price</span>
                                      <div class="price_slider_amount">
                                          <input id="amount" type="text" placeholder="Min price" data-min="6" value="33"
                                              name="min_price" style="display: none;">
                                          <button class="button" type="submit">Filter</button>
                                      </div>
                                      <div id="slider-range" class="price_slider"></div>
                              </div>
                              <div class="widget woocommerce widget_layered_nav maxlist-more" id="woocommerce_layered_nav-2">
                                  <span class="gamma widget-title">Brands</span>
                                  <ul>
                                      <li class="wc-layered-nav-term ">
                                          <a href="#">apple</a>
                                          <span class="count">(2)</span>
                                      </li>
                                      <li class="wc-layered-nav-term "><a href="#">bosch</a>
                                          <span class="count">(1)</span>
                                      </li>
                                  </ul>
                              </div>
                              <!-- .woocommerce widget_layered_nav
                              <div class="widget woocommerce widget_layered_nav maxlist-more" id="woocommerce_layered_nav-3">
                                  <span class="gamma widget-title">Color</span>
                                  <ul>
                                      <li class="wc-layered-nav-term "><a href="#">Black</a>
                                          <span class="count">(4)</span>
                                      </li>
                                      <li class="wc-layered-nav-term "><a href="#">Blue</a>
                                          <span class="count">(4)</span>
                                      </li>
                                      <li class="wc-layered-nav-term "><a href="#">Green</a>
                                          <span class="count">(5)</span>
                                      </li>
  
                                  </ul>
                              </div>
                              <!-- .woocommerce widget_layered_nav 
                          </div>
                        -->
                      </div>
                      <!-- #secondary -->
                  </div>
                  <!-- .row -->
              </div>
              <!-- .col-full -->
          </div>
            <!-- #content -->
            <% include ./partials/footer %>
            <!-- .site-footer -->
        </div>

        <script>
            function formatNumber(nStr, decSeperate, groupSeperate) {
                    nStr += '';
                    x = nStr.split(decSeperate);
                    x1 = x[0];
                    x2 = x.length > 1 ? '.' + x[1] : '';
                    var rgx = /(\d+)(\d{3})/;
                    while (rgx.test(x1)) {
                        x1 = x1.replace(rgx, '$1' + groupSeperate + '$2');
                    }
                    return x1 + x2;
            }

            function addToCart(id) {
                $.ajax({
                    type: "GET",
                    url: "/add-to-cart/"+id,
                    dataType: "json",
                    success: function(data){
                        //alert('đã thêm vào giỏ hàng' + data.totalPrice);
                        $('.update-totalPrice').html(formatNumber(data.totalPrice,'.',',')+'₫');
                        $('.update-totalQty').html(data.totalQty);
                        
                        var update = '';
                        data.products.forEach(itc => {
                            update += '<li class="woocommerce-mini-cart-item mini_cart_item">';
                            update += '<a onclick="deleteCartItem(\''+ itc.item._bookID +'\')" class="remove" aria-label="Remove this item"';
                            update += 'data-product_id="65" data-product_sku="">×</a>';
                            update += '<a href="/product/'+ itc.item.linkseo +'_'+ itc.item._bookID +'">';
                            update += '<img src="'+ itc.item.hinhanh[0] +'" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">';
                            update += itc.item.tieude +'</a><span class="quantity"> '+ itc.qty +'×';
                            update += '<span class="woocommerce-Price-amount amount">';
                            update += formatNumber(itc.item.gia,'.',',') +'<span class="woocommerce-Price-currencySymbol">₫</span></span>';
                            update += '</span> </li>';
                        });

                        $('.update-products').html(update);

                        // hiệu ứng blinking ở cuối assets style.css
                        var $div2blink = $(".divtoBlink"); // Save reference, only look this item up once, then save
                        var backgroundInterval = setInterval(function(){
                            $div2blink.toggleClass("backgroundRed");
                        },500);

                        setTimeout(function(){
	                        window.clearInterval(backgroundInterval);
                        }, 2200)
                        },
                    error: function(){} 
                });
            }
        </script>
        
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/tether.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/assets/js/scrollup.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
        <script type="text/javascript" src="/assets/js/waypoints-sticky.min.js"></script>
        <script type="text/javascript" src="/assets/js/pace.min.js"></script>
        <script type="text/javascript" src="/assets/js/slick.min.js"></script>
        <script type="text/javascript" src="/assets/js/scripts.js"></script>
        
    </body>
</html>